body {
     background: url(images/wooden.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.bg-overlay {
     --bs-bg-opacity: 0.75;
     background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
}
.bg-body-tertiary {
     --bs-bg-opacity: 0.75;
}
.rounded-img {
     width: 70%;
     height: 70%;
     border-radius: 50%;
}