:root {
    /* colors */
     --dark-jet: #27292B;
     --dark-jet-tp: #27292b9a;
     --dark-jet-light: #29292C;
     --gray-jet: #2B2D2F;
     --dark-magenta: #86188C;
     --lilac: #CA9BCC;
     --amar-purple: #B20648;
     --pine-tree: #36392D;
     --2dark-magenta: #912D96;
     --mulberry: #BE518A;
     --grey-medium: #383838;
     --grey-light: #828181;
     --grey-light2: #818181;
     --eerie-black: #1D1F20;
    /*#383838*/
     --s: 50px;
    /* --c: #191b22;
     --_s: calc(2*var(--s)) calc(2*var(--s));
     --_g: 35.36% 35.36% at;
     --_c: #0000 66%,#2a2b30 68% 70%,#0000 72%;
     */
     --c: #27292B;
     --_s: calc(2*var(--s)) calc(2*var(--s));
     --_g: 35.36% 35.36% at;
     --_c: #0000 66%,#343434 68% 70%,#0000 72%;
}
 @font-face {
     font-family: "JetBrainsMono";
     src: url('/font/JetBrainsMono-Regular.woff2') format('woff2');
}
 @font-face {
     font-family: "Bonche";
     src: url('/font/Bonche-Light.woff') format('woff');
}
/*https://lp.logrocket.com/blg/css-signup*/
 body {
     margin: 0;
     font-family: 'JetBrainsMono', Arial, sans-serif;
}
 p {
     text-indent: 40px;
}
 h1 {
     font-size: 42px;
}
ul{
    list-style: none;
}
/*todo*/
 .header {
     display: flex;
     align-items: center;
     overflow: hidden;
    /*background-color: var(--dark-jet);
     */
     padding: 0;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
}
 .header-overlay {
     padding-top: 7px;
     color: white;
     padding-bottom: 7px;
    /*background-color: rgba(39, 41, 43, 0.65);
     */
    /* blur background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(8px);
     */
    /*padding-top: 10px;
     padding-bottom: 10px;
     */
}
/*todo*/
 .header a {
     float: center;
    /* color: var(--amar-purple);
     text-shadow: 0 0 1px var(--amar-purple), 0 0 4px var(--amar-purple), 0 0 12px var(--amar-purple);
     */
     color: var(--amar-purple);
     letter-spacing: 2px;
     text-align: center;
     text-decoration: none;
     line-height: 25px;
     border-radius: 4px;
}
/* .header a.logo {
     font-size: 25px;
     font-weight: bold;
}
 */
/*todo*/
 .header a:hover {
     color: var(--amar-purple);
     text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0 10px var(--amar-purple), 0 0 21px var(--amar-purple), 0 0 42px var(--amar-purple), 0 0 82px var(--amar-purple), 0 0 92px var(--amar-purple), 0 0 102px var(--amar-purple), 0 0 151px var(--amar-purple);
}
 .header-left {
     display: flex;
     align-items: center;
     flex-grow: 1;
     justify-content: space-around;
    /* border-bottom-style: solid;
     border-bottom-color: var(--amar-purple);
     border-bottom-width: 1px;
     */
    /*width: 530px;
     */
     outline: none;
     border-bottom-color: var(--amar-purple);
     box-shadow: 0px -12px 18px -12px var(--amar-purple), 0px 12px 18px -12px var(--amar-purple);
     padding-bottom: 3px;
}
 .header-right {
     display: flex;
     align-items: center;
     flex-grow: 1;
     justify-content: space-around;
     outline: none;
    /*width: 530px;
     */
     border-bottom-color: var(--amar-purple);
     box-shadow: 0px -12px 18px -12px var(--amar-purple), 0px 12px 18px -12px var(--amar-purple);
     padding-bottom: 3px;
}
/*.menu-item {
     flex-grow: 1;
     outline: none;
     width: 265px;
     border-bottom-color: var(--amar-purple);
     box-shadow: 0px -12px 18px -12px var(--amar-purple), 0px 12px 18px -12px var(--amar-purple);
     padding-bottom: 3px;
}
 */
 .content {
    /*background-color: var(--grey-medium);
     */
     background-color: var(--dark-jet);
    /* background-image: url("images/neon-wall2.png");
     background-repeat: repeat;
     background-size: contain;
     */
    /*background-image: linear-gradient(335deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(155deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(335deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(155deg, var(--dark-jet) 26px, transparent 26px);
     background-size: 58px 58px;
     background-position: 0px 2px, 1px 32px, 27px 31px, 28px 3px;
     */
     height: 1000px;
     outline: none;
     border-bottom-color: var(--amar-purple);
     box-shadow: 0px 18px 18px 3px var(--amar-purple);
     padding-top: 20px;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
    /*border-radius: 22px;
    */
}
 .menu-icon {
     display: none;
}
 .body-overlay {
    /* color: white;
     */
    /*background: linear-gradient(to top, rgba(39, 41, 43, 0.65) 0%, rgba(39, 41, 43, 0.95) 100%);
     */
    /*background: linear-gradient(to top, rgba(39, 41, 43, 0.6) 50%, rgba(39, 41, 43, 0.9) 100%);
     */
    /*background: rgba(39, 41, 43, 0.75);
     */
    /*padding-bottom: 50px;
     */
     background: var(--eerie-black);
}
 .body-style {
    /* background-color: #a6059b;
     background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
     */
    /* background-color: #875199;
     background-image: url("https://www.transparenttextures.com/patterns/use-your-illusion.png");
     */
     background-color: var(--dark-jet);
     background-image: url("images/use-your-illusion.svg");
    /*background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
     */
    /* background: url("images/Hippopx.jpg") repeat;
     background-size: 671px;
     */
    /* background: url("images/3wooden1024.jpg") repeat;
     background-size: 671px;
     */
    /* background: url("images/wooden1024.jpg") repeat;
     background-size: 671px;
     */
    /* background: url("images/bw1024x671.jpg") repeat;
     background-size: 671px;
     */
    /* background: url("images/rbw1024x1024.jpg") repeat;
     background-size: 700px;
     */
    /* background-color: #444449;
     opacity: 0.8;
     background-image: linear-gradient(30deg, #08080c 12%, transparent 12.5%, transparent 87%, #08080c 87.5%, #08080c), linear-gradient(150deg, #08080c 12%, transparent 12.5%, transparent 87%, #08080c 87.5%, #08080c), linear-gradient(30deg, #08080c 12%, transparent 12.5%, transparent 87%, #08080c 87.5%, #08080c), linear-gradient(150deg, #08080c 12%, transparent 12.5%, transparent 87%, #08080c 87.5%, #08080c), linear-gradient(60deg, #08080c77 25%, transparent 25.5%, transparent 75%, #08080c77 75%, #08080c77), linear-gradient(60deg, #08080c77 25%, transparent 25.5%, transparent 75%, #08080c77 75%, #08080c77);
     background-size: 20px 35px;
     background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
     */
    /* background: radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
     background-attachment: fixed;
     */
    /* background-color: var(--grey-medium);
     background-image: linear-gradient(335deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(155deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(335deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(155deg, var(--dark-jet) 26px, transparent 26px);
     background-size: 58px 58px;
     background-position: 0px 2px, 1px 32px, 27px 31px, 28px 3px;
     */
}
 .container {
    /* padding-right: 15%;
     padding-left: 15%;
     */
}
 .nav-item {
     padding: 6px;
     font-family: Arial, sans-serif;
     font-size: 20px;
}
 .nav-item-active {
     color: var(--amar-purple);
     text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0 10px var(--amar-purple), 0 0 21px var(--amar-purple), 0 0 42px var(--amar-purple), 0 0 82px var(--amar-purple), 0 0 92px var(--amar-purple), 0 0 102px var(--amar-purple), 0 0 151px var(--amar-purple);
}
 .overlay {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
    /* background-color: rgb(0,0,0);
     background-color: rgba(0,0,0, 0.9);
     */
     overflow-x: hidden;
     transition: 0.5s;
     background-color: var(--grey-medium);
     background-image: linear-gradient(335deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(155deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(335deg, var(--dark-jet) 26px, transparent 26px), linear-gradient(155deg, var(--dark-jet) 26px, transparent 26px);
     background-size: 58px 58px;
     background-position: 0px 2px, 1px 32px, 27px 31px, 28px 3px;
}
 .overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
}
 .overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #818181;
     display: block;
     transition: 0.3s;
}
 .overlay a:hover, .overlay a:focus {
     color: #f1f1f1;
}
 .overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 15px;
     font-size: 60px;
}
 @media screen and (max-width: 500px) {
    /* .header a {
         float: none;
         display: block;
         text-align: left;
    }
     .header-right {
         float: none;
    }
     */
/*     .header-left {
         display: none;
    }
     .header-right {
         display: none;
    }
     .header {
         padding-left: 15px;
         padding-right: 15px;
         justify-content: space-between;
    }
     .menu-icon {
         display: block;
    }*/
    /* #menu.responsive {
         position: relative;
         flex-direction: column;
         height:100vh;
    }
     #menu.responsive .menu-icon {
         */
        /*position: absolute;
         */
        /* right: 0;
         top: 0;
    }
     #menu.responsive a {
         display: block;
    }
     */
}
 .block-phrase {
     margin-left: auto;
     margin-right: auto;
     width: 540px 
}
 .about {
     display: flex;
     align-items: center;
}
 .default-text {
     padding-right: 15px;
     color: var(--grey-light);
}
 .ava {
     float: right;
     border-radius: 50%;
}
 .content-header {
     font-family: Arial, sans-serif;
     color: var(--grey-light2);
     text-align: center;
}
 .default-block {
     padding-right: 7%;
     padding-left: 7%;
     margin-bottom: 40px;
}
 hr.divider {
     border-color: var(--grey-medium);
}
 .neon-text {
    /*font-family: 'Vibur', Arial, sans-serif;
     */
     color: var(--dark-magenta);
     text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px var(--dark-magenta), 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px var(--dark-magenta);
}
 